.chat{
  display:flex; 
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 4px solid rgb(253, 253, 254);
}
.chat_details{
    flex: 1;
}
.chat_details > p {
    color: gray
}
.chat_timestamp{
    color: lightgray
}
.chat_image{
    margin-right: 20px;
}