.swipeButtons {
    position: fixed;
    bottom: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3)!important;
}
.button_reject{
    padding: 3vw !important;
    color:rgb(245, 30, 30)!important
}
.button_replay{
    padding: 3vw !important;
    color:rgb(255, 196, 0)!important
}
.button_like{
    padding: 3vw !important;
    color:rgb(98, 239, 187)!important
}